body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  color: Green;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://static01.nyt.com/images/2017/01/18/world/australia-newsletter/australia-newsletter-superJumbo.jpg?quality=90&auto=webp');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  font-family: 'Verdana', georgia;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  font-size:60px;
  font-family: 'Verdana', georgia;
  font-weight: 700;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  font-weight: 400;
  font-size: 15px;
  color: SkyBlue;
  text-shadow: none;
  font-family: 'Verdana', georgia;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: SkyBlue;
}

.btn-secondary {
  background-color: SkyBlue;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  color: SkyBlue;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
#myName {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: none;
  font-family: 'Verdana', georgia;
}
#myName span { 
    background-color: SkyBlue; 
}
.topthreeparagraphs {
  color: SkyBlue;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Verdana', georgia;
}
#firstfav {
  font-size: 20px;
  font-weight: 400;
  color: SkyBlue;
  font-family: 'Verdana', georgia;
  text-align: center;
}
#secondfav {
  font-size: 20px;
  font-weight: 400;
  color: SkyBlue;
  font-family: 'Verdana', georgia;
  text-align: center;
}
#thirdfav {
  font-size: 20px;
  font-weight: 400;
  color: SkyBlue;
  font-family: 'Verdana', georgia;
  text-align: center;
}
#fourthfav {
  font-size: 20px;
  font-weight: 400;
  color: SkyBlue;
  font-family: 'Verdana', georgia;
  text-align: center;
}
#quotes {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: none;
  font-family: 'Verdana', georgia;
}
#quotes span { 
    background-color: SkyBlue; 
}
#firstquote {
  color:SkyBlue;
 	font-size: 15px;
  font-family: 'Verdana', georgia;
}
#secondquote {
  color:SkyBlue;
 	font-size: 15px;
  font-family: 'Verdana', georgia;
}
#thirdquote {
  color:SkyBlue;
 	font-size: 15px;
  font-family: 'Verdana', georgia;
}
